body{
 
    font-family: 'Poppins', sans-serif;
    margin: 0px ;
}

h1{

  font-size: 50px;

}

.font-design{

  color: orange;

} 
section{

    display: flex;
}

.half-width{

  width: 50%;
  padding: 5%;
}
.half-width img{

     width: 77.5%;
}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 8px;

}

.top-banner{

    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}