body{
 
    font-family: 'Poppins', sans-serif;
    margin: 0px ;
}

h1{

  font-size: 50px;

}

h2{

  font-size: 35px;

}

.font-design{

  color: orange;

} 
.flexable-continner{

    display: flex;
    margin-bottom: 100px ;
}

.half-width{

  width: 50%;
  padding: 5%;
}
.half-width img{

     width: 77.5%;
}



.link-button{

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 8px;

}



.top-banner{

    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.top-banner2{

    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    
    background-position: right; 
}


.top-banner3{

  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  
  background-position: left; 
}

.half-width2 p{
    padding-right: 100px;
    text-align: justify;

}

.header-design{

 color: orange;

}


footer{

  text-align: center;
  padding-bottom: 18px;

}


.exprience-item{

 width: 45%;
 margin-left: 5%;
 margin-right: 5%;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 10px 10px 50px gray;



}

#web-dev{

  border-left: 7px solid;
  border-image:  linear-gradient(salmon, tomato);
  border-image-slice: 1;
 
}

#jr-web-dev{

  border-left: 7px solid;
  border-image:  linear-gradient(blue, cyan);
  border-image-slice: 1;
  
}